<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Login</title>
    <link href="{% static 'css/common.css' %}" rel="stylesheet">
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <img class="logo" src="{% static 'img/멋사로고.png' %}" alt="logo">
      <form action="{% url 'login' %}" method="POST">
        <span class="error" style="margin: 0%; color: red;">{{ error }}</span>
        {% csrf_token %}
        <input type="text" class="input_login" name="username" id="userID" placeholder="아이디">
        <input type="password" class="input_login" name="password" id="userPW" placeholder="비밀번호">   
        <input type="submit" id="btn_login" value="로그인">
      </form>
      <a class="button_forgot">비밀번호를 잊으셨나요?</a>
      <a href="{% url 'signup' %}" class="button_signup">회원가입하기</a>
    </div>

    <div class="container2">
      <input type="text" class="input_login" name="userID" id="userID" placeholder="나의 학교 검색">
      <div class="img"></div>
      <span>학교 공지를 빠르고 쉽게 받아보세요!</span>
    </div>
<!-- 
    <script src="../../js/login.js"></script> -->
  </body>
</html>